@using Microsoft.AspNet.Identity;
@model Repozytorium.Models.Ogloszenie

@{
    ViewBag.Tytul = "Szczegóły ogłoszenia";
    ViewBag.Opis = "Szczegóły ogłoszenia z naszej aplikacji metaopis do 160 znaków";
    ViewBag.SlowaKluczowe = "Szczegóły, ogłoszenia, słowe, kluczowe, aplikacja";
}

<h2>Szczegóły ogłoszenia nr: @Model.Id</h2>

<div>
    <h4>Ogloszenie</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Id autora: 
        <dd>
            @Html.DisplayFor(model => model.UzytkownikId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tresc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tresc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tytul)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tytul)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DataDodania)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DataDodania)
        </dd>

    </dl>
</div>
<p>
    @if (User.Identity.IsAuthenticated && (User.IsInRole("Admin") || User.IsInRole("Pracownik") ||
        Model.UzytkownikId == User.Identity.GetUserId())) { 
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }, new { @class = "btn btn-primary" })
        @: |
    }    
    @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-warning" })
    
</p>
